:root {
  --black: #000000;
  --white: #ffffff;
  --brown: #332400;
  --blue: #0260e8;
  --dark-gray: #292929;
  --blue-bright: #1f5bff;
  --blue-light: #f0f6ff;
  --green: #13ce66;
  --gray: #525252;
  --almost-black: #111111;
  --deep-black: #0d0d0d;

  --text-main: var(--white);
  --bg-main: var(--deep-black);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-main);
  background-color: var(--bg-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--white);
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  color: var(--blue-light);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: var(--bg-main);
  color: var(--text-main);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark-gray);
  cursor: pointer;
  transition: 0.25s;
}

button:hover {
  border-color: var(--blue-bright);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
